h1 {
            text-align: center;
            color: rebeccapurple;
            background: black;
        }
        p {
            text-align: center;
            color: purple;
        }
        img {
            display: block;
            margin: 0px auto;
        }
        ul {
            font-size: 18px;
        }

        .fábio{
            font-weight: bold;
            color: purple;
        }

        .nessa{
            font-weight: bold;
            color: silver;
        }

        .ele{
            font-weight: bold;
            color: rebeccapurple;
        }

        .idade{
            font-weight: bold;
            color: black;
        }

        .meme {
            font-weight: bold;
            color: plum
        }

        

        
